.posts-container {
  margin: 3rem auto;
  width: 50%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#buttons-container {
  display: flex;
  justify-content: space-between;
}
